<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c682b1">  <td>19/11/08 14:26:13</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Srptest.beforeTest()[pri:0, instance:com.SRP.testscripts.Srptest@4b4523f8]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/11/08 14:26:24</td>   <td>10665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Srptest.Login()[pri:1, instance:com.SRP.testscripts.Srptest@4b4523f8]">Login</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/11/08 14:26:28</td>   <td>14533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Srptest.viewbill()[pri:2, instance:com.SRP.testscripts.Srptest@4b4523f8]">viewbill</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/11/08 14:26:30</td>   <td>16613</td> <td>&nbsp;</td><td title="&lt;&lt;Srptest.afterTest()[pri:0, instance:com.SRP.testscripts.Srptest@4b4523f8]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
</table>
